[submodule "engine/ECS_GE/external/sabmodules/rapidjson"]
	path = engine/ECS_GE/external/sabmodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "engine/ECS_GE/external/sabmodules/glfw"]
	path = engine/ECS_GE/external/sabmodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/ECS_GE/external/sabmodules/glm"]
	path = engine/ECS_GE/external/sabmodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/ECS_GE/external/sabmodules/freetype"]
	path = engine/ECS_GE/external/sabmodules/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "engine/ECS_GE/external/sabmodules/assimp"]
	path = engine/ECS_GE/external/sabmodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "engine/ECS_GE/external/sabmodules/imgui"]
	path = engine/ECS_GE/external/sabmodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/ECS_GE/external/sabmodules/imagemagic/ImageMagick-Windows"]
	path = engine/ECS_GE/external/sabmodules/imagemagic/ImageMagick-Windows
	url = https://github.com/ImageMagick/ImageMagick-Windows.git
